div.btn-group(role="group")
  button.btn.btn-default(type="button")
    a(href="/index.html")= 'Home'
  button.btn.btn-default(type="button")
    a(href="/menu.html")= 'Menu'
  button.btn.btn-default(type="button")
    a(href="/link.html")= 'Link'
  button.btn.btn-default(type="button")
    a(href="/aboutMe.html")= 'About Me'