//- Bootstrap core JavaScript
script(src="https://code.jquery.com/jquery-1.12.0.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
//- IE10 viewport hack for Surface/desktop Windows 8 bug
script(src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js")
//- My Source
script(src="/assets/js/offcanvas.js")