p.pull-left.visible-xs
  button(type="button", class="btn btn-primary btn-xs", data-toggle="offcanvas")= 'メニュー'
h1.text-center(style="background-color: #000000;")
  br
  font(style="color: #ffffff;")= 'ぺーぺーSEのまとめ'
  br
