doctype html
html(lang="ja")
  //- head
  include ../includes/head.jade
  
  body
    //- ナビゲーション
    //- include ../includes/nav.jade
    
    //- メイン
    div.container
      div.row.row-offcanvas.row-offcanvas-left
        
        //- サイドバー
        div.col-xs-6.col-sm-3.sidebar-offcanvas#sidebar
          include ../includes/sidebar.jade
        
        //- コンテンツ
        div.col-xs-12.col-sm-9
          //- タイトル
          include ../includes/title.jade
          
          //- ========== ↓編集対象↓ ==========
          block content
          //- ========== ↑編集対象↑ ==========
          
          //- フッター
          //- include ../includes/footer.jade
          
    //- Placed at the end of the document so the pages load faster
    include ../includes/scripts.jade