doctype html
html(lang="ja")
  //- head
  include ../includes/head.jade
  
  body
    //- タイトル
    include ../includes/title.jade
    
    //- ナビゲーション
    div.visible-xs
      center
        include ../includes/nav.jade
    
    //- メイン
    div.container
      div.row.row-offcanvas.row-offcanvas-left
        
        //- サイドバー
        //- div.col-xs-6.col-sm-3.col-md-3.col-lg-3.sidebar-offcanvas#sidebar
        div.col-sm-3.col-md-3.col-lg-3.hidden-xs
          include ../includes/sidebar.jade
        
        //- コンテンツ
        div.col-xs-12.col-sm-9.col-md-9.col-lg-9
          
          //- ========== ↓編集対象↓ ==========
          block content
          //- ========== ↑編集対象↑ ==========
          
          //- フッター
          //- include ../includes/footer.jade
          
    //- Placed at the end of the document so the pages load faster
    include ../includes/scripts.jade