extends ../templates/template.jade

block head
  title= 'PHP'
  meta(description= 'ぺーぺーSEのブログのまとめページ。PHPのページ。')

block content
  article
    header
      h2= 'PHP'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'OSSライブラリ・フレームワーク'
        p= 'Cake PHP'