extends ../templates/template.jade

block head
  title= 'SVN'
  meta(description= 'ぺーぺーSEのブログのまとめページ。SVNのページ。')

block content
  article
    header
      h2= 'SVN'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'サーバツール'
        p= 'Apache Subversion'