extends ./templates/template.jade

block head
  title= 'Link'
  meta(description= 'ぺーぺーSEのブログのまとめページ。リンクページ。')

block content
  p
    a(href='http://tanakakns.hatenablog.com/')= 'ぺーぺーSEのブログ'
  p
    a(href='https://github.com/tanakakns')= 'ぺーぺーSEのGithub'